body{
  width:100%;
 
}
.left{
  position: absolute;
  display: inline-block;
  position: absolute;
  left: 60px;
  top: 20px;
  border: 2px solid red;
  border-radius: 8px;
} 
.logo{
  position: absolute;
  float: left;    
  width: 150px;
  height: 130px;
  display: inline-block;

 
}

.mid{
  position: relative;
  border: 2px solid blue;
  background: white;
  color: aliceblue;
  height: 89px;
  display: block;
  width: 100%;
  margin:  0px,-300px,0px,-300px;
  right: 41px;
  top: -2px;
  padding: 34px;
  text-align: end;
  background: teal;
}
.navbar li{
  display: inline-block;
  font-size: 15px;
  color: aliceblue;
  font-family: 'Baloo Bhai 2', cursive;
  line-height: 12;


  
}
.navbar li a{
  padding: 34px;
  text-decoration: none;
  color: aliceblue;
  
}
.navbar li a:hover{
  text-decoration: underline;
  color: rgb(231, 17, 103);
}

.navbar ul{
  text-align: end;}
 
  .row {
    background-color: teal;
    height: 500px;

  }
 
   
  

img{

    float:left;
    height:500px;
    width:500px;
    display :inline-block;
    /*border: 5px solid;*/
   }
h1{
  text-align: center;
  font-style: sans-serif;
  top: 197px;
position: absolute;
left: 701px;
  
}
p{
    text-align: center;
    padding: 52px;
    margin:10px;
    font-size: 10%;
    color:beige;
  
   
   /* background-color: beige;*/
    
}
  .button1 {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: black;
    position:absolute;
    margin-left: 270px;
  }
.button1:hover{
  
  background: rgb(72, 75, 73);
}
  
